@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.header-top img {
    width: 60px;
}

.header-main img {
    width: 400px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    font-family: Roboto, sans-serif;
}

.header-hero {
    font-size: 48px;
    font-weight: 700;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    background-color: #3882F6;
    margin-top: 16px;
}

.information-container {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

.info-header {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.info-boxes {
    display: flex;
    gap: 32px;
    width: 200px;
    justify-content: center;
    text-align: center;
}

.info-boxes img {
    width: 250px;
    border-radius: 15px;
    border: 2px solid #3882F6;
}

.quote-container {
    font-family: Roboto, sans-serif;
    background-color: #E5E7EB;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 200px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
}

.quote-person {
    font-weight: 700;
    text-align: end;
}

.cta-container-big {
    font-family: Roboto, sans-serif;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cta-container-small {
    background-color: #3882F6;
    display: flex;
    padding: 16px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.cta-text-header {
    font-size: 16px;
    font-weight: 700;
}

.cta-text-small{
    font-size: 14px;
}
.cta button {
    border: 1px solid white;
    margin: 10px;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 50px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}